@let CONTINENTS_TRANSLATION = 'DISCOVER.CONTINENTS' | translate;
@let ORGANIZATIONS_TRANSLATION = 'DISCOVER.ORGANIZATIONS' | translate;

<div class="actions">
  <button
    flagButton
    [attr.ghost]="activeSection() !== discoverSection.Continents || undefined"
    (click)="selectMainEntity(defaultMainEntity.Continents)"
  >
    {{ CONTINENTS_TRANSLATION }}
    @if (activeSection() !== discoverSection.Continents) {
      <flag-icon>swap_horiz</flag-icon>
    }
  </button>
  <button
    flagButton
    [attr.ghost]="activeSection() !== discoverSection.Organizations || undefined"
    (click)="selectMainEntity(defaultMainEntity.Organizations)"
  >
    @if (activeSection() !== discoverSection.Organizations) {
      <flag-icon>swap_horiz</flag-icon>
    }
    {{ ORGANIZATIONS_TRANSLATION }}
  </button>
</div>
@if (!isMobile || (isMobile && activeSection() === discoverSection.Continents)) {
  <ng-container
    *ngTemplateOutlet="
      entitiesTemplate;
      context: {
        $implicit: continents(),
        title: CONTINENTS_TRANSLATION,
      }
    "
  />
}
@if (!isMobile || (isMobile && activeSection() === discoverSection.Organizations)) {
  <ng-container
    *ngTemplateOutlet="
      entitiesTemplate;
      context: {
        $implicit: organizations(),
        title: ORGANIZATIONS_TRANSLATION,
      }
    "
  />
}

<ng-template #entitiesTemplate let-entities let-title="title">
  <section [ngClass]="{ mobile: isMobile }">
    <h2>{{ title }}</h2>
    <ul>
      @for (entity of entities; track entity.id) {
        <li>
          <a
            tabindex="0"
            [ngClass]="{ active: entity.id === selectedMainEntityId() }"
            (click)="selectMainEntity(entity.id)"
            (keydown)="selectMainEntity(entity.id)"
          >
            {{ 'ENTITIES' | translationKey: entity.translationKey | translate }}
          </a>
        </li>
      }
    </ul>
  </section>
</ng-template>
