:host {
  display: grid;
  font-weight: var(--flag-font-weight-regular);
  gap: var(--flag-space-lg) var(--flag-space-2xl);
  grid-template-columns: repeat(12, 1fr);
  height: fit-content;
  z-index: 1;
}

.actions {
  display: flex;
  gap: var(--flag-space-sm);
  grid-column: 1 / -1;

  @media (min-width: 40rem) {
    display: none;
  }
}

section {
  grid-column: 1 / -1;

  @media (min-width: 40rem) {
    &:first-of-type {
      grid-column: 1 / 9;
    }

    &:last-of-type {
      grid-column: 9 / -1;

      ul {
        grid-template-columns: 1fr;
      }
    }
  }

  @media (min-width: 60rem) {
    &:first-of-type {
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &:last-of-type {
      grid-column: 10 / -1;
    }
  }

  @media (min-width: 80rem) {
    &:first-of-type,
    &:last-of-type {
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  h2 {
    align-items: center;
    display: none;
    font-size: var(--flag-font-size-sm);
    font-weight: var(--flag-font-weight-regular);
    line-height: var(--flag-font-line-height-s);
    height: var(--flag-size-lg);

    @media (min-width: 40rem) {
      display: grid;
    }
  }

  ul {
    display: grid;
    font-size: var(--flag-font-size-md);
    gap: var(--flag-space-sm) var(--flag-space-lg);
    grid-template-columns: repeat(2, 1fr);
    line-height: var(--flag-font-line-height-md);
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: grid;
      height: var(--flag-space-5xl);

      a {
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: var(--flag-color-primary-600);
        }

        &:active {
          color: var(--flag-color-primary-700);
        }

        &.active {
          text-decoration: underline;
          text-underline-offset: var(--flag-space-xs);
        }
      }
    }
  }
}
