<flag-card>
  <section class="layout">
    <header>
      {{ 'COMMON.LAYOUT' | translate }}
    </header>
    <div class="toggle">
      @for (option of layoutOptions(); track $index) {
        <button
          flagButton
          secondary
          [attr.raised]="option.active || undefined"
          (click)="updateLayout(option.value)"
        >
          <flag-icon>{{ option.icon }}</flag-icon>
        </button>
      }
    </div>
  </section>
  <section class="flag-categories">
    <header>
      {{ 'COMMON.FLAG_CATEGORIES' | translate }}
      <flag-icon>flag</flag-icon>
    </header>
    <app-flag-categories-button />
  </section>
  <section>
    <header>
      {{ 'COMMON.SORTING' | translate }}
      <flag-icon>sort</flag-icon>
    </header>
    <div class="toggle">
      @for (option of sortOptions(); track $index) {
        <button
          flagButton
          secondary
          [attr.raised]="option.active || undefined"
          (click)="updateSortDirection(option.value)"
        >
          {{ option.label ?? '' | translate }}
        </button>
      }
    </div>
  </section>
</flag-card>
