:host {
  align-items: center;
  display: flex;
  gap: var(--flag-space-xs);
}

.year-button {
  transition: font-weight 250ms ease-in-out;
  width: 5rem;

  &.pulse {
    animation: pulse 3s infinite;
    background-color: var(--flag-color-primary-100);
    font-weight: 600;
    outline: 2px solid transparent;
  }
}

.play {
  align-items: center;
  display: flex;
  gap: var(--flag-space-xs);
  margin-inline-start: var(--flag-space-sm);

  p {
    padding-inline: var(--flag-space-md);
  }
}

@keyframes pulse {
  0% {
    outline-color: transparent;
  }

  65% {
    outline-color: var(--flag-color-primary-500);
  }

  100% {
    outline-color: transparent;
  }
}
