@let MAX_SELECTED_YEAR = max() === selectedYear;
@let MIN_SELECTED_YEAR = min() === selectedYear;

<button flagButton [disabled]="MIN_SELECTED_YEAR" (click)="previous()">
  <flag-icon>keyboard_arrow_left</flag-icon>
</button>
<button
  flagButton
  class="year-button"
  [flagDropdownTrigger]="dropdown"
  [isOpen]="dropdownIsOpen"
  [ngClass]="{ pulse: isPlaying() }"
  (click)="setDropdownState()"
  (keyup)="setDropdownState()"
>
  {{ selectedYear }}
</button>
<button flagButton [disabled]="MAX_SELECTED_YEAR" (click)="next()">
  <flag-icon>keyboard_arrow_right</flag-icon>
</button>

<div class="play">
  <button flagButton [disabled]="MIN_SELECTED_YEAR || isPlaying()" (click)="play(true)">
    <flag-icon>arrow_back_2</flag-icon>
  </button>
  <button flagButton [disabled]="!isPlaying()" (click)="stop()">
    <flag-icon>pause</flag-icon>
  </button>
  <button flagButton [disabled]="MAX_SELECTED_YEAR || isPlaying()" (click)="play()">
    <flag-icon>play_arrow</flag-icon>
  </button>
</div>

<ng-template #dropdown>
  <flag-year-picker
    [min]="min()"
    [max]="max()"
    [selected]="selectedYear"
    (selectedChange)="setSelectedYear($event)"
  />
</ng-template>
