@let NAME_TRANSLATION = 'ENTITIES' | translationKey: translationKey() | translate;

<figure [ngClass]="{ card: card() }">
  <app-flag-image [src]="url() ?? ''" [alt]="NAME_TRANSLATION" [placeholder]="!url()" />
  <figcaption>
    @if (altParentId()) {
      <span class="alt-parent">
        {{ setAltParentId(altParentId()) }}
      </span>
    }
    <span class="name">
      {{ NAME_TRANSLATION }}
    </span>
  </figcaption>
  @if (range(); as range) {
    <flag-pill> {{ range.start }} &ndash; {{ range.end }} </flag-pill>
  }
</figure>
