figure {
  align-items: center;
  cursor: pointer;
  display: grid;
  gap: var(--flag-space-sm);
  grid-template-columns: var(--flag-size-lg) 1fr;
  grid-template-rows: auto;
  margin: 0;
  width: 100%;

  figcaption {
    align-items: baseline;
    display: flex;
    gap: var(--flag-space-sm);

    .name {
      display: -webkit-box;
      line-clamp: 1;
      word-break: break-all;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .alt-parent {
      color: var(--flag-color-secondary-700);
      font-size: var(--flag-font-size-xs);
      font-weight: var(--flag-font-weight-bold);
      text-transform: uppercase;
    }
  }

  &.card {
    gap: var(--flag-space-xs);
    grid-template-columns: auto;
    grid-template-rows: auto var(--flag-size-sm);

    figcaption {
      height: var(--flag-space-xl);
      overflow: hidden;
    }
  }
}
