@let NAME_TRANSLATION = 'ENTITIES' | translationKey: entity().translationKey | translate;

<figure [ngClass]="{ card: card() }">
  <app-flag-image
    [src]="entity().imageUrl ?? ''"
    [alt]="NAME_TRANSLATION"
    [placeholder]="!entity().imageUrl"
  />
  <figcaption>
    @if (entity().altParentId; as altParentId) {
      <span class="alt-parent">
        {{ setAltParentId(altParentId) }}
      </span>
    }
    <span class="name">
      {{ NAME_TRANSLATION }}
    </span>
  </figcaption>
</figure>
