@let NAME_TRANSLATION = 'ENTITIES' | translationKey: translationKey() | translate;

<figure [class.card]="card()">
  <app-flag-image
    [alt]="NAME_TRANSLATION"
    [src]="(isReversed ? reverseUrl() : url()) ?? ''"
    [hoistedRight]="entity().hoistedRight ?? false"
    [isReversed]="isReversed"
    [placeholder]="isReversed ? !reverseUrl() : !url()"
  />
  <figcaption>
    @if (altParentId()) {
      <span class="alt-parent">
        {{ setAltParentId(altParentId()) }}
      </span>
    }
    <span class="name">
      {{ NAME_TRANSLATION }}
    </span>
  </figcaption>
  <div class="info">
    @if (range(); as range) {
      <flag-pill> {{ range.start }} &ndash; {{ range.end }} </flag-pill>
    }
    @if (reverseUrl()) {
      <button
        flagButton
        rounded
        secondary
        class="reverse-button"
        [attr.raised]="isReversed || undefined"
        (click)="toggleReversed($event)"
      >
        <flag-icon>swap_horiz</flag-icon>
      </button>
    }
  </div>
</figure>
