section {
  display: grid;
  gap: var(--flag-space-sm);
  padding: var(--flag-space-md) var(--flag-space-sm);

  @media only screen and (min-width: 40rem) {
    padding-inline: var(--flag-space-lg);
  }
}
