:host {
  background-color: var(--flag-color-grey-200);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: var(--flag-space-sm) var(--flag-space-sm) 0;

  @media (min-width: 40rem) {
    padding-inline: var(--flag-space-lg);
  }
}

.title {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: var(--flag-space-sm);
  text-transform: uppercase;

  img {
    width: var(--flag-size-sm);
  }

  flag-pill {
    text-transform: initial;
  }
}

.menu-list {
  display: flex;
  gap: var(--flag-space-sm);
}
