:host {
  --footer-height: 15rem;
  --header-height: var(--flag-size-xl);

  display: block;
  height: 100%;

  &.no-footer {
    --footer-height: 0rem;
  }
}

app-header {
  height: var(--header-height);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

main {
  display: flex;
  min-height: calc(100% - (var(--header-height) + var(--footer-height)));
  padding-top: var(--header-height);
  z-index: 1;
}

app-footer {
  height: var(--footer-height);
}
