:host {
  display: flex;
  gap: var(--flag-space-md);
  justify-content: space-between;

  div {
    display: flex;
    gap: var(--flag-space-md);

    app-flag-categories-button {
      display: none;

      @media screen and (min-width: 40rem) {
        display: block;
      }
    }
  }
}
