:host {
  align-items: flex-start;
  display: grid;
  grid-template-rows: auto 1fr;
  margin-inline: auto;
  max-width: 40rem;
  padding: var(--flag-space-md) var(--flag-space-sm);
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  height: var(--flag-size-3xl);
}

form {
  display: grid;
  gap: var(--flag-space-lg);

  button {
    justify-self: flex-end;
  }
}
