@let FORM_CONTROL_TRANSLATION_PREFIX = 'FORM.CONTROLS.ENTITIES_JSON.';

<header>
  <h2>{{ 'PAGES.CREATE' | translate }}</h2>
</header>
<form [formGroup]="form" (ngSubmit)="upload()">
  <flag-textarea
    formControlName="entities"
    [label]="FORM_CONTROL_TRANSLATION_PREFIX + 'LABEL' | translate"
    [placeholder]="FORM_CONTROL_TRANSLATION_PREFIX + 'PLACEHOLDER' | translate"
    (changed)="validate($event)"
  />
  <button flagButton type="submit" [disabled]="!isValid">
    {{ 'COMMON.UPLOAD' | translate }}
  </button>
</form>
