:host {
  aspect-ratio: 3 / 2;
  display: flex;
  position: relative;

  &::before {
    background-color: var(--flag-color-white);
    border: 1px solid var(--flag-color-grey-400);
    content: '';
    inset: -0.125rem auto -0.125rem calc(var(--flag-space-xs) * -1);
    position: absolute;
    width: 0.125rem;
  }

  img {
    margin: 0 0 auto;
    max-height: 100%;
    max-width: 100%;
  }
}

:host(.placeholder) {
  background-color: var(--flag-color-primary-100);

  img {
    display: none;
  }
}

// Fix for displaying images properly in Safari
// ? This is needed because some external SVG images do not have a viewBox attribute
@supports (-webkit-backdrop-filter: blur(1px)) {
  img {
    height: 100%;
    max-width: 100%;  
  }
}
