:root {
  --app-horizontal-padding: var(--flag-space-sm);

  @media (min-width: 40rem) {
    --app-horizontal-padding: var(--flag-space-lg);
  }
}

html,
body {
  height: 100%;
  inset: 0;
  margin: 0;
  position: absolute;
}

body {
  background-color: var(--flag-color-grey-200);
  color: var(--flag-color-primary-500);
  font-family: var(--flag-font-family-primary);
  transition: background-color 150ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--flag-font-weight-medium);
  font-size: var(--flag-font-size-lg);
  line-height: var(--flag-font-line-height-s);
  margin: 0;
}

p,
dl {
  font-family: var(--flag-font-family-primary);
  font-weight: var(--flag-font-weight-regular);
  font-size: var(--flag-font-size-sm);
  line-height: var(--flag-font-line-height-md);
  margin: 0;
}

dl {
  display: grid;
  gap: var(--flag-space-xs);

  dt {
    font-weight: var(--flag-font-weight-bold);
  }

  dd {
    margin-left: var(--flag-space-md);
  }
}

a {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}
